<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- 引入 echarts.js -->
     <script  src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>


</head>
    <body>
    <div id="multiply" style="height:1200px;width:1200px;"/>
    <script type="text/javascript">
     var myChart = echarts.init(document.getElementById('multiply'));

    var data = [{
    fixed: true,
    x: myChart.getWidth() / 2,
    y: myChart.getHeight() / 2,
    symbolSize: 20,
    id: 1
}];

var edges = [];

    

var interval=setInterval(function () {

     for (x in data) { 
     data.push({
        id: data.length+1
    });
      edges.push({
            source: data[x].id-1,
            target: data.length-1
        });
     data.push({
        id: data.length+1
    });
    edges.push({
            source: data[x].id-1,
            target: data[data.length-1].id-1
        });
    };

    if (data.length>1000)
    {clearInterval(interval);
        return;};

/*    setTimeout(() => {
  myChart.setOption({
        series: [{
            roam: true,
            data: data,
            edges: edges
        }]
    })
}, 500);*/
    
    myChart.setOption({
        series: [{
        type: 'graph',
        layout: 'force',
        animation: false,
        data: data,
        force: {
            // initLayout: 'circular'
            // gravity: 0
            repulsion: 10,
            edgeLength: 1
        },
        edges: edges
    }]
    });


    // console.log('nodes: ' + data.length);
    // console.log('links: ' + data.length);
}, 500);

    </script>

</body>

</html>