<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- 引入 echarts.js -->
     <script  src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>


</head>
    <body>
    <div id="multiply" style="height:1200px;width:1200px;"/>
    <script type="text/javascript">
     var myChart = echarts.init(document.getElementById('multiply'));
    
    // 设置初始数据
    var data = [{
    fixed: true,
    x: myChart.getWidth() / 2,
    y: myChart.getHeight() / 2,
    symbolSize: 20,
    id: 1
}];

var edges = [];

    
    // setInterval的作用，每隔2000毫秒循环一次
var interval=setInterval(function () {

// 给每个初始节点增加两个子节点，加link
     for (x in data) { 
     data.push({
        id: data.length+1
    });
      edges.push({
            source: data[x].id-1,
            target: data.length-1
        });
     data.push({
        id: data.length+1
    });
    edges.push({
            source: data[x].id-1,
            target: data[data.length-1].id-1
        });
    };

// 设置循环中断点
    if (data.length>4000)
    {clearInterval(interval);
        return;};
    
    myChart.setOption({
        series: [{
        type: 'graph',
        layout: 'force',
        animation: false,
        data: data,
        force: {
            // initLayout: 'circular'
            // gravity: 0
            repulsion: 20,
            edgeLength: 1
        },
        edges: edges
    }]
    });


    // console.log('nodes: ' + data.length);
    // console.log('links: ' + data.length);
}, 2000);

    </script>

</body>

</html>